@media (min-width:992px) and (max-width:1199px){
    #main2_visual  .main-2{height:296.5px; padding:20px;}
    #main2_visual  .main-3{height:291.5px; padding-left:20px;}
    #main2_visual .main-4{height:145.75px;}
    #main2_visual .main-5{height:140.75px;}
    #main2_container .item1 > a{padding-left:8px; font-size: 14px;}
    #main2_container #main2_container .item > ul.item-text2 > li.plus img{margin-left: 16px; margin-right: -8px;}
    #main2_container .item > ul.item-text2 > li img{margin: 2px 1px 0 2px;}
    
    #main2_container .item > div > ul > a:first-child > li{padding: 12px 34px;}
    #main2_container .item > div > ul > a:last-child > li{padding: 12px 10px;}
}

@media (min-width:768px) and (max-width:991px){
    #main2_visual .main-2{height:296.5px; padding:10px;}
    #main2_visual .main-3{height:291.5px; padding-top:20px; padding-left:10px;}
    #main2_visual .main-4{height:145.75px;}
    #main2_visual .main-5{height:140.75px;}
    #main2_visual .bxslider > li{padding:160px 80px;}
    #main2_visual .main-3 p{font-size:19px;}
    #main2_visual .main-4 p{font-size:13px;}
    #header .header_bottom .head_gnb .head_gnb_left{font-size: 14px;}
    #header .header_bottom .head_gnb li{padding: 0 10px;}
    #main2_container .owl-next{right:-5%;}
    #main2_container .owl-next > img{margin-left:auto;}
    #main2_container .owl-prev{left:-5%;}
    #main2_container .con4 .bx-wrapper img{margin:0 auto;}
    #main2_container .item > div > ul > a:first-child > li{padding: 12px 40px;}
    #main2_container .item > div > ul > a:last-child > li{padding: 12px 14px;}
    #main2_container .item > ul.item-text2 > li.plus img{margin-left: 16px; margin-right: -8px;}    
    #main2_container .item > ul.item-text2 > li img{margin: 2px 0 0 0;}
    #main2_visual .main-3 .details{font-size: 12px;}
    #footer .top_arrow{top: 85%; right: 20px;}
}
@media (max-width:767px){
    #main2_container .new1{width:100%;}
    #main2_container .new2{width:100%;}
    #main2_visual .main-2{padding:30px;}
    #main2_visual .main-3{padding-top:30px; padding-left:30px;}
    #main2_container .main-content .col-md-5{padding-right:5px;}
    #main2_container .owl-next{right:5px;}
    #main2_container .owl-next > img{max-width:80%;margin-left:auto;}
    #main2_container .owl-prev{left:5px;}
    #main2_container .owl-prev > img{max-width:80%;}
    #main2_container .item > ul.item-text2 > li > a{padding:12px 12px;}
    #main2_container .bx-wrapper{margin-bottom:5px;}
    #main2_container .con-top h3{font-size:35px;}
    #main2_container .con-top ul{width:100%;}
    #main2_container .con-top ul li{margin: 0 1%;}
    #main2_container .con-top ul li:first-child{margin-left: 30%;}
    #main2_container .con-top ul li a{font-size:12px;text-align: center;}
    #main2_container .con-top h3{width:100%;text-align: center;}
    #main2_container .con-top > a{float:left;margin-left:40%;}
    #footer .col-md-5{padding:50px 15px 30px;}
    #footer .col-md-2{margin:20px 0;}
    #main2_container .item1{padding:0 30px;}
    #main2_container .owl-carousel .owl-item{padding:0 15px;}
    #main2_visual .bx-wrapper .bx-next{display:none;}
    #main2_visual .bx-wrapper .bx-prev{display:none;}
    
    #header .header_up .h_left,#header .header_up .h_right{font-size: 14px;}
    #header .header_down ul{padding: 10px;}
    #header .header_bottom .head_gnb .head_gnb_left{text-align: center; margin-bottom: 20px;}
    #header .header_bottom .head_gnb .head_gnb_right{text-align: center;}
    #header .header_up .h_right{width: 100%; text-align: center}
    #header .header_down ul{display: none;}
    #header .header_down .logo{float: none;}
    #header .header_down{width: 100%; text-align: center;}
    #header .header_up .h_right li:last-child{margin: 0;}
    #header .header_bottom .head_text{text-align: center;}
    #main2_container .con4_slide div{text-align: center;}
    #main2_container .con4 .bx-wrapper img{margin:0 auto;}
    #main2_container .item > ul.item-text3 > li:last-of-type{font-family:'NotoSansKR-Bold-Hestia'; font-size:24px; color:#000;line-height: 30px;float:left;}
    #main2_container .item > ul.item-text2 > li.plus img{margin: 0;}
    #main2_container .item > ul.item-text2 > li > a{padding: 12px 0; font-size: 12px;}
    #main2_container .item > ul.item-text2 > li img{margin: 2px 0 0 0;}
    #main2_container .item1 > a{padding-left:8px; font-size: 14px;}
    #main2_container .item > div > ul > a:first-child > li{padding: 12px 24px; margin: 20px 50px 0;}
    #main2_container .item > div > ul > a:last-child > li{padding: 12px 6px;}
    #main2_container .item > ul.item-text > li:nth-child(2),.item > ul.item-text3 > li:last-of-type{font-size: 20px;}
    #main2_container .item > ul.item-text > li:nth-child(4){font-size: 14px;}
    #main2_container .item > ul.item-text > li:nth-child(5){float: none; margin-bottom: 10px;}
    #main2_container .item > ul.item-text3{margin: 16px 0 10px;}
    #main2_container .item > div > ul > a:first-child > li,.item > div > ul > a:last-child > li{margin: 20px 18px 0;}
    #main2_container .item1 > a{font-size: 12px;}
    #main2_container .item1{padding: 0 16px;}
    #main2_container .item1 > h3{font-size: 18px;}
    #main2_container .item > div > ul > a:first-child > li, .item > div > ul > a:last-child > li{margin: 14px 18px 0;}
    #footer{padding: 0 15px;}
    #main2_container .con-top{margin: 0 15px;}
    .search_popup .search{padding-right: 38%;}
}

@media (max-width:500px){
    #main2_container .item > ul.item-text2 > li > a{padding:12px 12px;}
    #main2_container .item > ul.item-text2 > li{height:60px;}
    #main2_container .item > ul.item-text2 > li:nth-of-type(2) > a{height:60px;}
    #main2_container .bxslider > li{padding:120px 70px;}
    #main2_visual .main-2{ padding:10px;}
    #main2_visual .main-3{padding-top:10px; padding-left:10px;}
    #main2_visual .bxslider > li img{display:none;}
    #main2_visual .main-4 h4{margin-top:10px;}
    #main2_visual .bx2 > div > img{margin:0 auto;}
    #main2_container .con-top ul li:first-child{margin-left: 16%;}
    #main2_container .item > div > ul > a:first-child > li, .item > div > ul > a:last-child > li{margin: 46px 18px 0;}
    #header .header_bottom .head_text li{display: block;}
    #header .header_bottom .text{margin: 0 0 20px 0;}
    #header .header_bottom .head_gnb li{padding: 0 3px; font-size: 12px;}
    #header .header_bottom .head_gnb .head_gnb_right{float: none;}
    #footer{padding: 0 15px;}
    #footer .col-md-2 ul li a{font-size: 12px;}
    .search_popup .search{font-size: 18px; padding-right: 52%;}
    .search_popup .search_pop_logo img{width: 100px;}
    .search_popup{padding: 70px 15px 0;}
    #main2_visual .bxslider > li{padding: 160px 20px;}
    #main2_visual .bxslider > li h3{font-size: 30px;}
    #main2_visual .bx-wrapper .bx-pager, #main2_visual .bx-wrapper .bx-controls-auto{left: 50%; transform: translateX(-50%);}
    #main2_container .con-top h3{margin-top: 20px;}
    
}
@media (max-width:350px){
    #main2_visual .bxslider > li{padding:70px 40px;}
    #main2_container .item > ul.item-text3 > li:last-of-type{font-family:'NotoSansKR-Bold-Hestia'; font-size:24px; color:#000;line-height: 30px;float:left;margin-left:20%;}
    #main2_container .con-top ul li:first-child{margin-left: 0;}
}